.left-digital-signature{
max-height: 4cm;
max-width: 4cm;
padding-top: 50px;
float:left;
}
.right-digital-signature {
max-height: 4cm;
max-width: 4cm;
padding-top: 50px;
float:right
}
.center-digital-signature {
max-height: 4cm;
max-width: 4cm;
padding-top: 50px;
margin-left: 300px;
}
.center_sign {
  max-height: 4cm;
  max-width: 6cm;
  padding-top: 50px;
  margin-left: 400px;
  margin-top: -153px;
}
